<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      <title>OMCP</title>
  </head>
  <body>
    <main>
        {% include '/omcp/frontend/components/_header.html' %}
        <div>{% block content %}{% endblock %}</div>
        {% include '/omcp/frontend/components/_footer.html' %}
    </main>
  </body>
</html>
