<footer class="flex flex-col border-t border-black bg-white items-center border-b border-gray-200 justify-between flex-wrap pt-3 sm:pt-5">
    <div class="flex mr-auto px-10 sm:px-20">
        <a class="flex" href="/">
            <img src="/static/img/logo.png" class="fill-current h-8 w-16 mr-3 rounded-full" />
        </a>
    </div>
    <div class="flex flex-col mr-auto mt-1 py-3 px-10 sm:px-20">
        <a href="{% url 'home' %}" class="text-pink-500 text-sm">Home</a>
        <a href="{% url 'privacy_policy' %}" class="text-pink-500 text-sm">Privacy Policy</a>
        <a href="{% url 'terms_use' %}" class="text-pink-500 text-sm">Terms and Condition</a>
    </div>
    <div class="flex mx-auto mt-1 py-3 items-center bg-pink-400 w-full px-10 sm:px-20 mb-0">
        <img src="/static/img/logo.png" alt="logo" class="ml-auto fill-current h-8 w-16 mr-3 rounded-full">
        <div class="mr-auto text-xs text-white">©Copyright2020 UwaaS .All Rights Reserved.</div>
    </div>
</footer>