{% extends '/omcp/frontend/components/_base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row p-20 bg-pink-500">
    <div class="mx-auto">
        <div class="flex">
            <div class="flex flex-col w-3/5 mx-auto py-5 px-10 bg-white rounded">
                <div class="text-black">
                    <h2 class="text-xl text-pink-500">Profile</h2>
                </div>
                <div class="text-black mr-auto flex items-center">
                    <img src="{{ profile.image.url }}" class="h-20 w-20 rounded-full mr-5" />
                    <a href="{% url 'profile_update' profile_id=user.id %}" class="py-1 px-3 bg-gray-300 rounded">Edit</a>
                </div>
                <span class="w-full border border-gray-300 mt-3"></span>
                <div class="flex items-center flex-wrap mt-3">
                    <div class="flex flex-col w-5/12">
                        <div class="text-gray-700 text-sm">Name</div>
                        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ profile.name }}</div>
                    </div>
                    <div class="flex flex-col w-5/12 ml-auto">
                        <div class="text-gray-700 text-sm">Email</div>
                        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ user.email }}</div>
                    </div>
                    <div class="flex flex-col w-5/12">
                        <div class="text-gray-700 text-sm">Country</div>
                        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ profile.country }}</div>
                    </div>
                    <div class="flex flex-col w-5/12 ml-auto">
                        <div class="text-gray-700 text-sm">Address</div>
                        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ profile.address }}</div>
                    </div>
                    <div class="flex flex-col w-5/12">
                        <div class="text-gray-700 text-sm">Zipcode</div>
                        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ profile.zipcode }}</div>
                    </div>
                    <div class="flex flex-col w-full ml-auto">
                        {% if user.is_patient %}
                            <div class="text-gray-700 text-sm">Information</div>
                            <div class="shadow appearance-none border rounded w-full h-24 py-2 px-3 min text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ profile.information }}</div>
                        {% elif user.is_doctor %}
                        <div>
                            <div class="text-gray-700 text-sm">Speciality</div>
                            <div class="shadow appearance-none border rounded w-full h-24 py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ profile.speciality }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}