{% extends '/omcp/frontend/components/_base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row p-20 bg-pink-500">
    <div class="mx-auto">
        <div class="flex">
            <div class="flex flex-col w-3/5 mx-auto py-5 px-10 bg-white rounded">
                <div class="text-black">
                    <h2 class="text-xl text-pink-500">Profile</h2>
                </div>
                <span>{{ user.email }}</span>
                <span>{{ profile.name }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}