{% extends '/omcp/frontend/components/_base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row p-20 bg-pink-500">
    <div class="mx-auto">
        <div class="flex">
            <div class="flex flex-col w-3/5 mx-auto py-5 px-10 bg-white rounded">
                <div class="">
                    <h2 class="text-xl text-pink-500">Register</h2>
                </div>
                <div class="flex mt-3">
                    <a href="{% url 'signup_patient' %}" class="bg-pink-500 hover:bg-pink-300 text-white text-sm text-white py-2 px-10 rounded mr-5">I am a patient</a>
                    <a href="{% url 'signup_doctor' %}" class="px-10 py-2 border hover:opacity-50 border-pink-500 text-pink-500 rounded text-sm ml-auto">I am a doctor</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}