{% extends '/omcp/frontend/components/_base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row p-20 bg-pink-500">
    <div class="mx-auto">
        <div class="flex flex-col w-3/5 mx-auto py-5 px-10 bg-white rounded">
            <div class="text-black">
                <h2 class="text-xl text-pink-500">Diagnosis</h2>
            </div>
            <div class="flex flex-col text-gray-700 text-sm items-center">
                <img class="mt-3 w-full h-20 object-cover border-2 rounded border-gray-300" src="{{ diagnosis.image.url }}" />
                <div class="mt-1 text-xl appearance-none bg-gray-200 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-1">
                    {{ diagnosis.title }}
                </div>
                <div class="w-full flex border-b"></div>
                <div class="w-full mt-2 text-md flex flex-col">
                    <span class="text-sm">Date:</span>
                    <span class="appearance-none bg-gray-200 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-1">{{ diagnosis.date }}</span>
                </div>
                <div class="w-full mt-2 text-md flex flex-col">
                    <span class="text-sm">Description:</span>
                    <span class="appearance-none bg-gray-200 rounded w-full p-5 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline mt-3">{{ diagnosis.description }}</span>
                </div>
            </div>
            <div class="flex w-full">
                <div class="flex items-center mr-auto">
                    <img src="{{ diagnosis.doctor.image.url }}" class="h-5 w-5 rounded-full mr-1" />
                    <div>{{ diagnosis.doctor.name }}</div>
                </div>
                {% if diagnosis.status == 'UNREGISTERED' %}
                    <form action="{% url 'register_diagnosis' diagnosis_id=diagnosis.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="bg-pink-500 hover:bg-pink-300 text-white text-sm text-white py-2 px-4 rounded ml-auto mt-3">Register</button>
                    </form>
                {% else %}
                    <div class="bg-pink-300 hover:bg-pink-300 text-white text-sm text-white py-2 px-4 rounded ml-auto mt-3">Registered</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}